extends layout.jade

block content
    div.jumbotron
        div.container
            h1.title-font Dungeon Revealer Stopped
            p You can now close this window.

block js
    script(data-main='/javascripts/player-app.js', src='/javascripts/require.js')